<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

<!--<display-name>taotao-search-web</display-name>-->
	<!--<welcome-file-list>-->
		<!--<welcome-file>index.html</welcome-file>-->
	<!--</welcome-file-list>-->

<!--</servlet-mapping>-->
		<!--<servlet-name>taotao-search-web</servlet-name>-->
		<!--&lt;!&ndash; 伪静态化 &ndash;&gt;-->
		<!--<url-pattern>*.html</url-pattern>-->
	<!--</servlet-mapping>-->
	
</web-app>